/*root*/
:root {
    /*font-size: 10px;****alte fs für use mit rem****/
    font-size: .53vw;
    --green: #eaf078;
    --darker-green: rgb(204, 209, 105);
    --black: #494949;
    scroll-behavior: smooth;
    cursor: url(f6cf), auto;
}
/*generelle Einstellungen für body*/
body {display: flex;
    flex-direction: column;
    padding: 0; margin: 0; list-style: none;}
body div.container {
    flex: 1;
}
section {height: 100vh;  padding-top: 5rem;}
/*Scrollbar Chrome, Safari und Opera*/
body::-webkit-scrollbar {width: 0.3rem;} 
body::-webkit-scrollbar-track {background: var(--black);}
body::-webkit-scrollbar-thumb {background: var(--green);}
::-webkit-scrollbar-button {overflow: hidden;;} /*sollte die buttons bei der scrollbar deaktivieren*/
/*andere Farbe wenn Text markiert wird*/
::selection {
    color: var(--black);
    background: rgb(189, 194, 97);
    text-shadow: none;
}
::-moz-selection { 
    color: var(--black);
    background: rgb(189, 194, 97);
    text-shadow: none;
}
h1, h2, h3, h4{font-family: 'Share Tech Mono', monospace; text-transform: uppercase;}
h1 {text-align: center;font-size: 8.5rem;}
h3, h2{padding-left: .7rem;font-size: 2.1rem;color: var(--black);}
h2 {font-size: 2.5rem;}
p, li{font-size: 1.6rem; font-family: 'Share Tech Mono', monospace;
    /*font-family: 'Share Tech Mono', monospace;*/}
hr {border-radius: 5px;}
/*NAVBAR*********************************************/
#navbar {z-index: 3;}
#navbar ul {
    height: 5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(65, 65, 65);
    text-transform: uppercase;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar li {float: left;}
#navbar li:last-child {float: right;}
#navbar li a {
    display: block;
    height: 4rem;
    color: white;
    text-align: center;
    font-family: serif;
    margin: auto;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
}

/* Change the link color to #eaf078 on hover */
#navbar li a:hover {
    background-color: var(--green);
    color:  #494949;
    font-weight: bold;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
}
/***************************************************/
/*Landing Page**************************************/
#landingpage {
    background-image: url(./img/landing2.jpg);
    background-size: cover;
}

#landingpage h1 {
    padding-top: 34rem;
    font-size: 8.5rem;
    color: var(--green);
    /*font-family: 'Hepta Slab', serif;*/
    text-transform: capitalize;
}

#landingpage img {
    display: block;
    margin: 31rem auto 0 auto;
    opacity: 0.8;
}

#landingpage img:hover {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
}
/***************************************************/
/*Intro*********************************************/
#intro {
    background-image: linear-gradient(#353535, var(--black));
    /*background-image: linear-gradient(#353535, var(--black), rgba(79, 79, 79, 1), rgba(79, 79, 79, .8), rgba(79, 79, 79, .6));*/
    color: var(--green);

}
#intro div.container {
    padding: 0 25rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
        "video   text"
        "quote   quote";
    height: 100vh;
}

#intro div.vid{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    z-index: 1;
}

#intro div.vid iframe {
    position: absolute;
    margin: 35% auto 0 0;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 3rem rgba(234, 240, 120, .3);
    border-radius: 0.6rem;
}

#intro div.text {
    color: var(--darker-green);
    font-size: 1.6rem;
    margin: 33% auto 0 0;
}

#intro div.quote{
    grid-area: quote;
    margin: auto;
    margin-bottom: 13rem;
    color: var(--darker-green);
    font-size: 2.1rem;
    text-align: right;
    text-shadow: 0 .2rem .8px var(--black);
    border: .2rem solid rgba(168, 168, 168, .08);
    background-color: rgba(168, 168, 168, .08);
}
/***************************************************/
/*PROCON********************************************/
#procon {
    padding: 0;
    /*background-image: url(./img/halfnhalf.png);*/
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "black green";/*löst das Problem mit dem Hintergrund (ist zentriert)*/
}
#procon div.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "con pro";
    height: 100vh;
}
#procon div.container div{
    padding: 6rem 0 0 0;
}
#procon div.container div.con {background-color: var(--black); padding: 15% 2% 0 25%;}
#procon div.container div.pro {background-color: var(--green); padding: 15% 25% 0 2%;}
#procon div.container div.con h2 { color: var(--green);}
#procon div.container div hr {
    width: 30rem;
    height: .4rem;
    float: left;
    margin-top: -2rem;
}
#procon div.container div.con hr{
    border: var(--green);
    background-color: var(--green);
}
#procon div.container div.pro hr{
    border: var(--black);
    background-color: var(--black);
}
#procon div.container div.con h4{
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: var(--green);
}
#procon div.container div.pro h4{
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: var(--black);
}
#procon div.container div.con p.argument{
    font-size: 1.6rem;
    margin: 0 0 1rem 4rem;
    color: var(--darker-green);
    text-align: justify;
}
#procon div.container div.pro p.argument{
    font-size: 1.6rem;
    margin: 0 0 1rem 4rem;
    color: var(--black);
    text-align: justify;
}
/*****************background-image: linear-gradient(rgba(79, 79, 79, .6), white, rgba(234, 240, 120, .5));**********************************/
/*Legal*********************************************/
#legal-gedankenexperiment {
    padding: 8% 25rem 10% 25rem;
    background-color: var(--green);
    height: fit-content;
} 
#legal-gedankenexperiment hr{
    border: var(--black);
    background-color: var(--black);
    height: .4rem;
}
#rechtliches {
    text-align: justify;
}
#rechtliches h2 {
    text-align: right;
    padding: 0 .7rem 0 0 ;
    margin: 0;
}
/***************************************************/
/*Gedankenexperimente*******************************/
#gedankenexperiment {
    padding-top: 5rem;
}
#gedankenexperiment h2{
    margin: 15rem 0 0 0 ;
}
#gedankenexperiment h4{
    margin: 0;
    font-size: 2rem;
    color: var(--black);
}
#gedankenexperiment div.container {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(autofit minmax(250px, 1fr));
}
#gedankenexperiment ul {
    margin-left: 4rem;
    color: var(--black);
}
#gedankenexperiment ul li {padding-top: 0.3rem;}

i.fa-birthday-cake:hover, i.fa-user-shield:hover, i.fa-users:hover {  /*keine id vorne bc auch in Gedankenexperimente (subsite) verwendet wird*/
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
}
#gedankenexperiment a {
    float: right;
    padding: 2rem 2.5rem;
    margin-top: 3%;
    margin-right: 2%;
    color: var(--green);
    font-size: 2.1rem;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    background-color: var(--black);
    box-shadow: 0 0 30px 8px rgb(255, 175, 189, .8);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
/*hervorheben des Inhalt*/
/*.gedankenexperiment-card {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}*/
/***************************************************/
/*Gedankenexperimente*******************************/
section.gedankenexperiment-resultate {
    height: min-content;
    background-image: url(./img/Justiciacropped.webp);
    background-size: cover;
    overflow: hidden;
    padding: 5rem 25% 7% 25%;
    color: var(--green);
    text-align: justify;
}
section.gedankenexperiment-resultate div.background {
    background-color: rgba(73, 73, 73, .8);
    padding: 3%;
}
section.gedankenexperiment-resultate h1 {
    float: right;
    margin-top: 2%;
    font-size: 4rem;
    writing-mode: vertical-lr; /*vertikal ausgerichteter Titel*/  
}
section.gedankenexperiment-resultate img {
    width: 80%;
    border-style: groove;
    border-color: var(--black);
    margin-bottom: 5%;
}
section.gedankenexperiment-resultate footer {
    margin: 5% 0 2% 2%;
}
section.gedankenexperiment-resultate footer a i {
    color: var(--green);
    font-size: 3.5rem;
}
section.gedankenexperiment-resultate footer a i:first-child {margin-right: 2%;}
/***************************************************/
/*Schlussfolgerung**********************************/
#schlussfolgerung {
    background-size: cover;
    background-color: var(--black);
    color: var(--darker-green);
    padding: 8rem 25% 7% 25%;
    height: fit-content; /*funktioniert bei FireFox nixht! (hier sowohl auch in legal-gedankenexperiment)*/
}
#schlussfolgerung h2, h3 {color: var(--green);}
#schlussfolgerung hr {
    border: var(--green);
    background-color: var(--green);
    height: .4rem;
    margin-top: -2rem;
}
#schlussfolgerung p {text-align: justify;}
#schlussfolgerung strong {font-size: 1.7rem;}
/***************************************************/
/*Rückblick*****************************************/
#rückblick {
    background-size: cover;
    background-color: var(--black);
    color: var(--darker-green);
    padding: 1rem 25% 7% 25%;
    height: fit-content; 
}
#rückblick hr {
    border: var(--green);
    background-color: var(--green);
    height: .4rem;
    margin-top: -2rem;
}
#rückblick h2 {
    color: var(--green);
    text-align: right;
}
#rückblick p {text-align: justify;}
/***************************************************/



@media screen and (max-width: 1080px) {
    section {height: fit-content;}
    #landingpage {height: 100vh;}
    #landingpage h1 {font-size: 17rem; margin-top: 70%;}
    #landingpage img {visibility: hidden;}
    
    #intro div.container {
        padding: 0 10rem;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr .5fr;
        grid-template-areas: 
            "text"
            "video"
            "quote";
        height: fit-content;
    }
    
    #intro div.vid{
        position: relative;
        width: 100%;
        padding: 1% auto 5% auto;
        height: 0;
        z-index: 1;
    }
    
    #intro div.vid iframe {
        position: absolute;
        width: 80%;
        height: 80%;
        box-shadow: 0 0 3rem rgba(234, 240, 120, .3);
        border-radius: 0.6rem;
    }
    #intro p {font-size: 5rem;}

    #procon {
        padding: 0;
        /*background-image: url(./img/halfnhalf.png);*/
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas:
            "black"
            "green";/*löst das Problem mit dem Hintergrund (ist zentriert)*/
    }
    #procon div.container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "con"
            "pro";
        height: fit-content;
    }
    #procon div.container div{
        padding: 6rem 0 0 0;
    }
    #procon div.container div.con {background-color: var(--black); padding: 2%;}
    #procon div.container div.pro {background-color: var(--green); padding: 2%;}
    #procon div.container div.con h2 {color: var(--green);}
    #procon div.container div h2 {font-size: 6rem;} 
    #procon div.container div hr {
        width: 30rem;
        height: .4rem;
        float: left;
        margin-top: -2rem;
    }
    #procon div.container div.con hr{
        border: var(--green);
        background-color: var(--green);
    }
    #procon div.container div.pro hr{
        border: var(--black);
        background-color: var(--black);
    }
    #procon div.container div.con h4{
        font-size: 5rem;
        margin: 0 0 1rem 0;
        color: var(--green);
    }
    #procon div.container div.pro h4{
        font-size: 5rem;
        margin: 0 0 1rem 0;
        color: var(--black);
    }
    #procon div.container div.con p.argument{
        font-size: 5rem;
        margin: 0 0 1rem 4rem;
        color: var(--darker-green);
        text-align: justify;
    }
    #procon div.container div.pro p.argument{
        font-size: 5rem;
        margin: 0 0 1rem 4rem;
        color: var(--black);
        text-align: justify;
    }
    /*****************background-image: linear-gradient(rgba(79, 79, 79, .6), white, rgba(234, 240, 120, .5));**********************************/
    /*Legal*********************************************/
    #legal-gedankenexperiment {
        padding: 15% 25rem 10% 25rem;
        background-color: var(--green);
        height: fit-content;
    } 
    #legal-gedankenexperiment p {font-size: 5rem;}
    #legal-gedankenexperiment h2 {font-size: 6rem; }
    #legal-gedankenexperiment hr{
        border: var(--black);
        background-color: var(--black);
        height: .4rem;
    }
    #rechtliches {
        text-align: justify;
    }
    #rechtliches h2 {
        text-align: left;
        padding: 0 .7rem 0 0 ;
        margin: 0;
    }
    /***************************************************/
    /*Gedankenexperimente*******************************/
    #gedankenexperiment {
        padding-top: 5rem;
    }
    #gedankenexperiment h2{
        margin: 15rem 0 0 0 ;
    }
    #gedankenexperiment h4{
        margin: 0;
        font-size: 5rem;
        color: var(--black);
    }
    #gedankenexperiment div.container {
        padding: 3em;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(autofit minmax(250px, 1fr));
    }
    #gedankenexperiment ul {
        margin-left: 4rem;
        color: var(--black);
    }
    #gedankenexperiment ul li {padding-top: 0.3rem; font-size: 5rem;}
    
    i.fa-birthday-cake:hover, i.fa-user-shield:hover, i.fa-users:hover {  /*keine id vorne bc auch in Gedankenexperimente (subsite) verwendet wird*/
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        transition: 200ms;
        -webkit-transition: 200ms;
        -moz-transition: 200ms;
        -o-transition: 200ms;
    }
    
    #gedankenexperiment a {
        float: right;
        padding: 2rem 2.5rem;
        margin-top: 3%;
        margin-right: 2%;
        color: var(--green);
        font-size: 6rem;
        font-family: 'Share Tech Mono', monospace;
        text-transform: uppercase;
        background-color: var(--black);
        box-shadow: 0 0 30px 8px rgb(255, 175, 189, .8);
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
    }
    /*hervorheben des Inhalt*/
    /*.gedankenexperiment-card {
        padding: 2em;
        border-radius: .3em;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    }*/
    /***************************************************/
    /*Gedankenexperimente*******************************/
    #navbar ul {
        height: 10rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(65, 65, 65);
        text-transform: uppercase;
        font-size: 1.6rem;
        position: fixed;
        top: 0;
        width: 100%;
    }
    #navbar li {float: left;}
    #navbar li:last-child {float: right;}
    #navbar li a {
        font-size: 4rem;
        display: block;
        height: 10rem;
        color: white;
        text-align: center;
        font-family: serif;
        margin: auto;
        padding: 1.4rem 1.6rem;
        text-decoration: none;
    }
    
    section.gedankenexperiment-resultate {
        height: min-content;
        background-image: url(./img/Justiciacropped.webp);
        background-size: cover;
        overflow: hidden;
        padding: 5rem 0 7% 0;
        color: var(--green);
        text-align: justify;
        font-size: 5rem;
    }
    section.gedankenexperiment-resultate p {font-size: 5rem;}

    section.gedankenexperiment-resultate div.background {
        background-color: rgba(73, 73, 73, .8);
        padding: 3%;
    }
    section.gedankenexperiment-resultate h1 {
        float: none;
        margin-top: 2%;
        font-size: 6rem;
        writing-mode: inherit;
    }
    section.gedankenexperiment-resultate img {
        width: 80%;
        border-style: groove;
        border-color: var(--black);
        margin-bottom: 5%;
    }
    section.gedankenexperiment-resultate li {font-size: 5rem;}
    section.gedankenexperiment-resultate footer {
        margin: 5% 0 2% 2%;
    }
    section.gedankenexperiment-resultate footer a i {
        color: var(--green);
        font-size: 9rem;
    }
    section.gedankenexperiment-resultate footer a i:first-child {margin-right: 2%;}
    /*Schlussfolgerung**********************************/
#schlussfolgerung {
    background-size: cover;
    background-color: var(--black);
    color: var(--darker-green);
    padding: 8rem 10% 7% 10%;
    height: fit-content; /*funktioniert bei FireFox nixht! (hier sowohl auch in legal-gedankenexperiment)*/
}
#schlussfolgerung h2, h3 {color: var(--green); font-size: 6rem;}
#schlussfolgerung hr {
    border: var(--green);
    background-color: var(--green);
    height: .4rem;
    margin-top: -2rem;
}
#schlussfolgerung p {text-align: justify; font-size: 5rem;}
#schlussfolgerung strong {font-size: 5.5rem;}
/***************************************************/
/*Rückblick*****************************************/
#rückblick {
    background-size: cover;
    background-color: var(--black);
    color: var(--darker-green);
    padding: 8rem 10% 7% 10%;;
    height: fit-content; 
}
#rückblick p, h2 {
    font-size: 5rem;}
#rückblick hr {
    border: var(--green);
    background-color: var(--green);
    height: .4rem;
    margin-top: -2rem;
}
#rückblick h2 {
    color: var(--green);
    text-align: left;
}
}
