/*root*/
:root {
    /*font-size: 10px;****alte fs für use mit rem****/
    font-size: .53vw;
    --green: #eaf078;
    --darker-green: rgb(204, 209, 105);
    --black: #494949;
    scroll-behavior: smooth;
    cursor: url(f6cf), auto;
}
/*generelle Einstellungen für body*/
body {display: flex;
    flex-direction: column;
    padding: 0; margin: 0; list-style: none;}
body div.container {
    flex: 1;
}
section {height: 100vh;  padding-top: 5rem;}
/*Scrollbar Chrome, Safari und Opera*/
body::-webkit-scrollbar {width: 0.3rem;} 
body::-webkit-scrollbar-track {background: var(--black);}
body::-webkit-scrollbar-thumb {background: var(--green);}
::-webkit-scrollbar-button {overflow: hidden;;} /*sollte die buttons bei der scrollbar deaktivieren*/
/*andere Farbe wenn Text markiert wird*/
::selection {
    color: var(--black);
    background: rgb(189, 194, 97);
    text-shadow: none;
}
::-moz-selection { 
    color: var(--black);
    background: rgb(189, 194, 97);
    text-shadow: none;
}
h1, h2, h3, h4{font-family: 'Share Tech Mono', monospace; text-transform: uppercase;}
h1 {text-align: center;font-size: 8.5rem;}
h3, h2{padding-left: .7rem;font-size: 2.1rem;color: var(--black);}
h2 {font-size: 2.5rem;}
p, li{font-size: 1.6rem; font-family: 'Share Tech Mono', monospace;
    /*font-family: 'Share Tech Mono', monospace;*/}
hr {border-radius: 5px;}
/*NAVBAR*********************************************/

#navbar ul {
    height: 5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(65, 65, 65);
    text-transform: uppercase;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar li {float: left;}
#navbar li:last-child {float: right;}
#navbar li a {
    display: block;
    height: 4rem;
    color: white;
    text-align: center;
    font-family: serif;
    margin: auto;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
}

/* Change the link color to #eaf078 on hover */
li a:hover {
    background-color: var(--green);
    color: var(--black);
}
/***************************************************/
/*Landing Page**************************************/
#landingpage {
    background-image: url(./img/landing2.jpg);
    background-size: cover;
}

#landingpage h1 {
    padding-top: 34rem;
    font-size: 8.5rem;
    color: var(--green);
    /*font-family: 'Hepta Slab', serif;*/
    text-transform: capitalize;
}

#landingpage img {
    display: block;
    margin: 31rem auto 0 auto;
    opacity: 0.8;
}

#landingpage img:hover {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
}
/***************************************************/
/*Intro*********************************************/
#intro {
    background-image: linear-gradient(#353535, var(--black));
    /*background-image: linear-gradient(#353535, var(--black), rgba(79, 79, 79, 1), rgba(79, 79, 79, .8), rgba(79, 79, 79, .6));*/
    color: var(--green);

}
#intro div.container {
    padding: 0 25rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
        "video   text"
        "quote   quote";
    height: 100vh;
}

#intro div.vid{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

#intro div.vid iframe {
    position: absolute;
    margin: 35% auto 0 0;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 3rem rgba(234, 240, 120, .3);
    border-radius: 0.6rem;
}

#intro div.text {
    color: var(--darker-green);
    font-size: 1.6rem;
    margin: 33% auto 0 0;
}

#intro div.quote{
    grid-area: quote;
    margin: auto;
    margin-bottom: 13rem;
    color: var(--darker-green);
    font-size: 2.1rem;
    text-align: right;
    text-shadow: 0 .2rem .8px var(--black);
    border: .2rem solid rgba(168, 168, 168, .08);
    background-color: rgba(168, 168, 168, .08);
}
/***************************************************/
/*PROCON********************************************/
#procon {
    padding: 0;
    /*background-image: url(./img/halfnhalf.png);*/
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "black green";/*löst das Problem mit dem Hintergrund (ist zentriert)*/
}
#procon div.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "con pro";
    height: 100vh;
}
#procon div.container div{
    padding: 6rem 0 0 0;
}
#procon div.container div.con {background-color: var(--black); padding: 15% 2% 0 25%;}
#procon div.container div.pro {background-color: var(--green); padding: 15% 25% 0 2%;}
#procon div.container div.con h2 { color: var(--green);}
#procon div.container div hr {
    width: 30rem;
    height: .4rem;
    float: left;
    margin-top: -2rem;
}
#procon div.container div.con hr{
    border: var(--green);
    background-color: var(--green);
}
#procon div.container div.pro hr{
    border: var(--black);
    background-color: var(--black);
}
#procon div.container div.con h4{
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: var(--green);
}
#procon div.container div.pro h4{
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: var(--black);
}
#procon div.container div.con p.argument{
    font-size: 1.6rem;
    margin: 0 0 1rem 4rem;
    color: var(--darker-green);
    text-align: justify;
}
#procon div.container div.pro p.argument{
    font-size: 1.6rem;
    margin: 0 0 1rem 4rem;
    color: var(--black);
    text-align: justify;
}
/*****************background-image: linear-gradient(rgba(79, 79, 79, .6), white, rgba(234, 240, 120, .5));**********************************/
/*Legal*********************************************/
#legal-gedankenexperiment {
    padding: 10% 25rem 5% 25rem;
    background-color: var(--green);
    height: fit-content;
} 
#legal-gedankenexperiment hr{
    border: var(--black);
    background-color: var(--black);
    height: .4rem;
}
#rechtliches {
    text-align: justify;
}
#rechtliches h2 {
    text-align: right;
    padding: 0 .7rem 0 0 ;
    margin: 0;
}
/***************************************************/
/*Gedankenexperimente*******************************/
#gedankenexperiment {
    padding-top: 5rem;
}
#gedankenexperiment h2{
    margin: 15rem 0 0 0 ;
}
#gedankenexperiment h4{
    margin: 0;
    font-size: 2rem;
    color: var(--black);
}
#gedankenexperiment div.container {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(autofit minmax(250px, 1fr));
}
#gedankenexperiment ul {
    margin-left: 4rem;
    color: var(--black);
}
#gedankenexperiment ul li {padding-top: 0.3rem;}

#gedankenexperiment i.fa-birthday-cake:hover, i.fa-user-shield:hover, i.fa-users:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
}
/*hervorheben des Inhalt*/
/*.gedankenexperiment-card {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}*/
/***************************************************/
/*Schlussfolgerung**********************************/
#schlussfolgerung {
    background-size: cover;
    background-color: var(--black);
    color: var(--darker-green);
    padding: 8rem 25% 7% 25%;
    height: fit-content;
}
#schlussfolgerung h2, h3 {color: var(--green);}
#schlussfolgerung hr {
    border: var(--green);
    background-color: var(--green);
    height: .4rem;
    margin-top: -2rem;
}
#schlussfolgerung p {text-align: justify;}
#schlussfolgerung strong {font-size: 1.7rem;}
/***************************************************/
/*Rückblick*****************************************/
#rückblick {
    height: fit-content;
    background-color: var(--green);
}
/***************************************************/
/*Gedankenexperimente**********************************************************************************/
section.gedankenexperiment-gird {
    display: grid;
    grid-template-columns: 1fr 8fr 6fr;
    grid-template-rows: 9fr 1fr;
    grid-template-areas:
        "h1 main         img"
        "h1 previousnext previousnext";
    height: calc(100vh -5rem);
}
div.h1 {
    grid-area: h1;
    font-size: 6rem;
    writing-mode: vertical-lr; /*vertikal ausgerichteter Titel*/
    background-color: darkorange;
}    
h1.vertical-over-nine {padding-top: 7.6vh;} /*wenn Nummer des GE über 9, ergo 2 Ziffern hat, braucht der Titel meh Raum*/
main {
    grid-area: main;
    background-color: cornflowerblue;
}
div.img {
    grid-area: img;
    background-color: green;
    }
div.img img {
    width: 50%;
}
footer {
    grid-area: previousnext;
    background-color: bisque;
}

/******************************************************************************************************/